* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(67, 101, 77);
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#calc {
  background-color: gray;
  width: 20rem;
  height: 50%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

#calc h3,
small {
  margin: 1rem;
}

#operations {
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 4rem;
  width: 100%;
}

#current-operation {
  margin-right: 1rem;
}

#buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  width: 5rem;
  height: 5rem;
}

.hide {
  background-color: gray;
  border: none;
}

.equal-btn {
  flex-grow: 1;
}
